<a href="https://colab.research.google.com/github/pateljay7018/CE888-7-SP-D.S.-and-decision-making-/blob/main/Assignment-1/dataset_marge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [1]:
#connecting google drive for importing datasets

from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [8]:
#LONDON

london20_1 = pd.read_csv('/content/gdrive/My Drive/CE888/2020-01/2020-01-city-of-london-stop-and-search.csv')
london20_1["Date"] = "2020-01"
london20_2 = pd.read_csv('/content/gdrive/My Drive/CE888/2020-02/2020-02-city-of-london-stop-and-search.csv')
london20_2["Date"] = "2020-02"
london20_3 = pd.read_csv('/content/gdrive/My Drive/CE888/2020-03/2020-03-city-of-london-stop-and-search.csv')
london20_3["Date"] = "2020-03"
london20_4 = pd.read_csv('/content/gdrive/My Drive/CE888/2020-04/2020-04-city-of-london-stop-and-search.csv')
london20_4["Date"] = "2020-04"
london20_5 = pd.read_csv('/content/gdrive/My Drive/CE888/2020-05/2020-05-city-of-london-stop-and-search.csv')
london20_5["Date"] = "2020-05"
london20_6 = pd.read_csv('/content/gdrive/My Drive/CE888/2020-06/2020-06-city-of-london-stop-and-search.csv')
london20_6["Date"] = "2020-06"
london20_7 = pd.read_csv('/content/gdrive/My Drive/CE888/2020-07/2020-07-city-of-london-stop-and-search.csv')
london20_7["Date"] = "2020-07"
london20_8 = pd.read_csv('/content/gdrive/My Drive/CE888/2020-08/2020-08-city-of-london-stop-and-search.csv')
london20_8["Date"] = "2020-08"
london20_9 = pd.read_csv('/content/gdrive/My Drive/CE888/2020-09/2020-09-city-of-london-stop-and-search.csv')
london20_9["Date"] = "2020-09"
london20_10 = pd.read_csv('/content/gdrive/My Drive/CE888/2020-10/2020-10-city-of-london-stop-and-search.csv')
london20_10["Date"] = "2020-10"
london20_11 = pd.read_csv('/content/gdrive/My Drive/CE888/2020-11/2020-11-city-of-london-stop-and-search.csv')
london20_11["Date"] = "2020-11"
london20_12 = pd.read_csv('/content/gdrive/My Drive/CE888/2020-12/2020-12-city-of-london-stop-and-search.csv')
london20 = pd.concat([london20_1,london20_2,london20_3,london20_4,london20_5,london20_6,london20_7,london20_8,london20_9,london20_10,london20_11,london20_12])
london = pd.concat([london20])
london["City"] = "London"
london= pd.DataFrame(london)
london.head()

            Type     Date  ...  Removal of more than just outer clothing    City
0  Person search  2020-01  ...                                     False  London
1  Person search  2020-01  ...                                     False  London
2  Person search  2020-01  ...                                     False  London
3  Person search  2020-01  ...                                     False  London
4  Person search  2020-01  ...                                     False  London

[5 rows x 16 columns]

In [9]:
#Getting subset
df= pd.concat([london])
sort = df[['City','Date','Officer-defined ethnicity','Type','Self-defined ethnicity','Gender','Age range','Removal of more than just outer clothing','Outcome']]
data = sort.dropna()
data = data.reset_index(drop=True)
data.head()

     City  ...                       Outcome
0  London  ...  A no further action disposal
1  London  ...  A no further action disposal
2  London  ...  A no further action disposal
3  London  ...  A no further action disposal
4  London  ...  A no further action disposal

[5 rows x 9 columns]

In [10]:
#shape of datae
data.shape

(2850, 9)

In [12]:
#To save file in my google drive
data.to_csv('/content/gdrive/My Drive/CE888/2020-city-of-london_final.csv')